Assets/Fonts/DotGothic16-Regular filter=lfs diff=lfs merge=lfs -text
SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Fonts/DotGothic16-Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
